{% extends "base.html" %}

{% block content %}
<diV class="max-w-md">
<ul class="flex justify-between">
    <li><h2 class="text-gray-800">ASSIGN TABLE</h2></li>
    <li class="rounded-xl">
        <select>
            {% for table in tables %}
                <option>{{ table.number }}</option>
            {% endfor %}
        </select>
    </li>
    <li class="rounded-xl">

        <select>
            {% for server in servers %}
                <option>{{ server.name }}</option>
            {% endfor %}
        </select>
    </li>

</ul>
</diV>
{% endblock %}
